/* global stylings */
h1 {
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 3em;
  margin: 0;
  padding: 0 3em;
}
h3 {
  font-size: 2vw;
}
a {
  text-decoration: none;
  color: gold;
}
/* quizboard.js stylings */
.quizBoard {
  display:flex;
  flex-wrap: wrap;
}
.quizSquare {
  background-image: linear-gradient(blue 20%, navy);
  border: solid;
  min-height: 100%;
  width: 25vw;
  color: gold;
  border-color: black;
}

.quizSquare:hover {
  background-image: linear-gradient(yellow 20%, gold);
  color: black;
  cursor: pointer;
}

.quizSquare:active {
  background-image: linear-gradient(white, white);
}

.quiz {
  position: absolute;
  z-index: 20;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(blue 20%, navy);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.score {
  position: absolute;
  z-index: 20;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(blue 20%,navy);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cancelQuiz {
  z-index: 21;
  position: fixed;
  width: 200px;
  height: 50px;
  border: solid;
  background-color: gold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
}
.cancelQuiz:hover {
  background-color: black;
  color: gold;
  cursor: pointer;
}

.skip {
  position: absolute;
top: 50px;
z-index: 22;
background-color: gold;
border: solid;
width: 200px;
border-top: 0;
font-weight: bold;
}

.skip:hover {
  background-color: black;
  color: gold;
  cursor: pointer;
  border-top: solid;
}



.answers {
  justify-content: center;
  margin-top: 0;
  display: flex;
}

.question {
  width: 100%;
}

.answer {
  padding: 1.5em;
  width: 100%;
  margin: 1em;
  background-image: linear-gradient(blue, navy);
  border: solid 10px;
  color: gold; 
  font-size: 2vw;
  font-family: 'Franklin Gothic ', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  border-radius: 50%

}

.answer:hover {
  color: white;
  cursor: pointer
}

.answer:active {
  color: blue;
  cursor: pointer
}

/* mobile rendering */
@media screen and (max-width: 600px) {
  .quizSquare {
    width: 100%;
  }
}